PORT=3001
CLIENT_URL=http://localhost:5173
JWT_SECRET=change_this_secret
TURSO_DATABASE_URL=libsql://your-db-name-username.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=your_turso_auth_token
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
RESEND_API_KEY=re_...
ADMIN_NOTIFICATION_EMAIL=your_email@example.com
